{% extends 'base.html' %}
{% load static %}


<!-- templates/home.html-->

{% block stylesheets %} 
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock stylesheets %}

{% block title %}Home{% endblock %}
{% block content %}


  <p>This is a test</p>
  


  {% if user.is_authenticated %}
    Hi {{ user.username }}!
    <p><a href="{% url 'logout' %}">Log Out</a></p>
  {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
  {% endif %}
{% endblock %}
